<div th:fragment="category">
    <label>카 테 고 리<span class="red-star">*</span>&nbsp;
        <select name="category" required="required" class="product-category border border-0 rounded-3 p-2" style="width:400px;">
            <option value="">--- 카테고리를 선택해 주세요. ---</option>
            <option value="3">식품/의약품</option>
            <option value="4">유아/장난감</option>
            <option value="8">화장실/미용/생활/욕실</option>
            <option value="5">의류/패션잡화</option>
            <option value="2">레저/스포츠</option>
            <option value="0">가구/인테리어/침구</option>
            <option value="6">주방</option>
            <option value="7">컴퓨터/가전/영상/음향</option>
            <option value="1">도서</option>
            <option value="9">기타</option>
        </select>
    </label>
</div>